@model OCRS.Complaint_TB

@{
    ViewBag.Title = "COMPLAINT FORM";
}

<h2>COMPLAINT FORM</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DEPARTMENT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DEPARTMENT, new List<SelectListItem> {

               new SelectListItem { Text="FOOD AND SUPPLY",Value="Food and Supply"},
               new SelectListItem { Text="INFORMATION TECHNOLOGY ",Value="Information Technology"},
               new SelectListItem { Text="HOME",Value="Home Department"},
               new SelectListItem { Text="HEALTH",Value="Health Department"},
               new SelectListItem { Text="URBAN DEVELOPMENT AND HOUSING",Value="Urban Development and Housing"},
               new SelectListItem { Text="FOREST",Value="Forest"}},
               "SELECT DEPARTMENT", new { @class = "form-control input-textbox" })
               @Html.ValidationMessageFor(model => model.DEPARTMENT, "", new { @class = "text-danger input-textbox" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DATE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DATE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DATE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.COMPLAINT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.COMPLAINT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.COMPLAINT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
